{% extends "layout.html" %}
{% block title %}ScholarsSphere - Login{% endblock %}

{% block body %}
<div class="container my-3">
<h3>Login to your ScholarsSphere account</h3>
    <form action="/login" method="post">
    <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="email" type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input name="password" type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>      
    </div>
    
{% endblock %}

