{% extends "layout.html" %}
{% block title %}
    Machine learning questions
{% endblock %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Problem</th>
        <th scope="col">Problem Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>


{% endblock %}


