{% extends "layout.html" %}
{% block body %}
<div class="table-responsive my-4">
        
    <table class="table table-dark table-striped table-bordered table-hover table-sm">
        <caption>List of users</caption>
        <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">phone</th>
        <th scope="col">name</th>
        <th scope="col">year</th>
        <th scope="col">department</th>
        <th scope="col">password</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for data in datas|reverse %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ data.username }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.year }}</td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.password }}</td>
                     <td class="d-flex">
                         <a aria-disabled="true" href="/userdelete/{{data.id}}" class="btn btn-outline-danger">Delete</a>
                     </td>
                  </tr>
        {% endfor %}
        
      
    </tbody>
</table>
</div>
{% endblock %}


